@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  margin: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-container {
  width: 100vw;
  max-height: 100%;
  position: relative;
  // margin: 1em;
  display: flex;
  flex-wrap: wrap;
  // top: 20%;
  padding: 0.5rem;
  // margin: 0 auto;

  .photo-div:last-child {
    flex-grow: 10;
  }

  @media (max-aspect-ratio: 1/1) {
    .photo-div {
      height: 30vh;
    }
  }

  // Short screens

  @media (max-height: 480px) {
    .photo-div {
      height: 80vh;
    }
  }

  // Smaller screens in portrait

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .photo-container {
      flex-direction: row;
    }

    .photo-div {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}

.photo-div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40vh;
  flex-grow: 1;
  margin: 0.5rem;
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  transition: 0.5s;
  &:hover {
    // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
  }
  .middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .photo-text {
    background-color: #04aa6d;
    overflow-wrap: break-word;
    color: white;
    font-size: 16px;
    padding: 0.5rem;
    width: 50%;
    align-self: center;
  }
  &:hover .gallery-photo {
    opacity: 0.3;
  }
  &:hover .middle {
    opacity: 1;
  }
}

// .container:hover .overlay {
//   opacity: 1;
// }

// .text {
//   color: white;
//   font-size: 20px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  align-items: flex-start;
}

.with-sidebar > :first-child {
  flex-basis: 10vw;
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.sidebar {
  /* ↓ The width when the sidebar _is_ a sidebar */
  border: 2px dotted blue;
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1em;
}

// BASIC

// ul {
//   display: flex;
//   flex-wrap: wrap;
// }

// li {
//   height: 40vh;
//   flex-grow: 1;
// }

// li:last-child {
//   // There's no science in using "10" here. In all my testing, this delivered the best results.
//   flex-grow: 10;
// }

// img {
//   max-height: 100%;
//   min-width: 100%;
//   object-fit: cover;
//   vertical-align: bottom;
// }

// ADVANCED

// Portrait
