@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

main {
  margin: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.sidebar a {
  color: #9c9c9c;
  &:hover {
    color: #000;
  }
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-container {
  // width: 100vw;
  // max-height: 100%;
  position: relative;
  // margin: 1em;
  display: flex;
  flex-wrap: wrap;
  // top: 20%;
  padding: 0.5rem;
  // margin: 0 auto;

  .photo-div:last-child {
    flex-grow: 10;
  }

  @media (max-aspect-ratio: 1/1) {
    .photo-div {
      height: 30vh;
    }
  }

  // Short screens

  @media (max-height: 480px) {
    .photo-div {
      height: 80vh;
    }
  }

  // Smaller screens in portrait

  @media (max-aspect-ratio: 1/1) and (max-width: 800px) {
    .photo-container {
      flex-direction: row;
    }

    .photo-div {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}

.photo-div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30vw;
  flex-grow: 1;
  margin: 0.5rem;
  color: #000;
  text-decoration: none;
  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  transition: 0.5s;

  .middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .photo-text a {
    overflow-wrap: normal;
    font-size: large;
    padding: 0.5rem;
    width: 50%;
    align-self: center;

    // &:hover {
    //   text-decoration: underline;
    // }
  }
  &:hover .gallery-photo {
    opacity: 0.3;
  }
  &:hover .middle {
    opacity: 1;
  }
}

.masonry-container {
  padding: 0.5rem;
}

#lightbox {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    width: auto;
    max-width: 90%;
    max-height: 75%;
    position: relative;
    bottom: 10%;
  }
}
.lightbox-buttons {
  // position: absolute;
  // top: 1em;
  // right: 1em;
  border: none;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
    border-radius: 0.25em;
  }
}
.arrow-buttons {
  // padding-left: 5em;
  // padding-right: 5em;
  position: relative;
  bottom: 10%;
  transition: ease 0.3s;
  width: 100%;
  height: 75%;
}

#prev-button {
  &:hover {
    background-color: white;
    transform: translateX(-1rem);
  }
}
#next-button {
  &:hover {
    background-color: white;
    transform: translateX(1rem);
  }
}

// .container:hover .overlay {
//   opacity: 1;
// }

// .text {
//   color: white;
//   font-size: 20px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  align-items: flex-start;
}

.with-sidebar > :first-child {
  flex-basis: 10vw;
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.sidebar {
  /* ↓ The width when the sidebar _is_ a sidebar */
  border: 2px dotted blue;
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1em;
}

// Image Gallery Overrides
.slick-slider {
  height: 75vh;
  width: 75vw;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  display: flex;
  align-items: center;
  div {
    margin-left: 10em;
    margin-right: 10em;
  }
}
.slick-slide,
.slick-active {
  border: 2px dotted blue;
  width: 30vw;
  width: 20em;
  img {
    height: 50vh;
    // width: 100%;
  }
}
.slick-prev,
.slick-next {
  color: blue;
  background-color: red;
  background-blend-mode: multiply;
  &::after {
    color: blue;
    background-color: red;
    background-blend-mode: multiply;
  }
}

// Carousel
.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
  height: 50vh;
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

// BASIC

// ul {
//   display: flex;
//   flex-wrap: wrap;
// }

// li {
//   height: 40vh;
//   flex-grow: 1;
// }

// li:last-child {
//   // There's no science in using "10" here. In all my testing, this delivered the best results.
//   flex-grow: 10;
// }

// img {
//   max-height: 100%;
//   min-width: 100%;
//   object-fit: cover;
//   vertical-align: bottom;
// }

// ADVANCED

// Portrait
